*.iml
/.gradle/
/.idea/
/local.properties
/app/build/
/build/

*.DS_Store
*.idea
*.iml
.gradle
local.properties

.project
.settings
.classpath

.gradle
build/
.DS_Store
*.iml
*.apk
*.aar
*.zip
google-services.json

.project
.settings
.classpath

local.properties

.idea/*
!idea/codeStyles

captures
.externalNativeBuild
.cxx



**/Pods/
**/*.xcuserstate
ios-snippets/Podfile.lock
ios-snippets/mlkit-snippets.xcworkspace/xcuserdata/dfurlong.xcuserdatad/UserInterfaceState.xcuserstate